<% include partials/header %>

<h1>Index Page</h1>

<% blogs.forEach(function(blog){ %>
  <div>
    <h2><%= blog.title %></h2>
    <span><%= blog.created %></span>
    <img src="<%= blog.image %>" alt="<%= blog.title %>">
    <p><%= blog.body %></p>
  </div>
<% }) %>

<% include partials/footer %>
